*.DS_Store
sec_4_3_microrheology_ruben/_DS_Store
sec_4_5_statistical_physics/double_well/data_doblePozo_CP.mat
sec_4_5_statistical_physics/double_well/PerfilPotencialFuerzaDoblePozo.mat
sec_4_5_statistical_physics/double_well/MapafuerzasDoblePozo.mat
sec_4_5_statistical_physics/double_well/CriticalPoints.mat
*.mat
